# Core
streamlit
python-dotenv

# LangChain components
langchain>=0.2.2
langchain-core>=0.2.0
langchain-community>=0.2.0
langchain-openai>=0.1.7
langchain-huggingface>=0.0.5

# Vector store and embedding models
sentence-transformers
faiss-cpu

# For document loading (CSV + HTML)
html5lib
beautifulsoup4
lxml
pandas  # required for CSVLoader
